<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rptes.traininfo" version="0.7.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TrainInfoTW</name>
    <description>TrainInfoTW</description>
    <author email="rptestw@gmail.com" href="https://rfeqserver.myqnapcloud.com">
        RPTeS
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <access origin="*" />
</widget>
