body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
}
